<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jw7</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStuServe</display-name>
    <servlet-name>AddStuServe</servlet-name>
    <servlet-class>com.jw7.servlet.AddStuServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStuServe</servlet-name>
    <url-pattern>/AddStuServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStuServe</display-name>
    <servlet-name>UpdateStuServe</servlet-name>
    <servlet-class>com.jw7.servlet.UpdateStuServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStuServe</servlet-name>
    <url-pattern>/UpdateStuServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelStuServe</display-name>
    <servlet-name>DelStuServe</servlet-name>
    <servlet-class>com.jw7.servlet.DelStuServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelStuServe</servlet-name>
    <url-pattern>/DelStuServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStuIDServe</display-name>
    <servlet-name>QueryStuIDServe</servlet-name>
    <servlet-class>com.jw7.servlet.QueryStuIDServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStuIDServe</servlet-name>
    <url-pattern>/QueryStuIDServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStuNameServe</display-name>
    <servlet-name>QueryStuNameServe</servlet-name>
    <servlet-class>com.jw7.servlet.QueryStuNameServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStuNameServe</servlet-name>
    <url-pattern>/QueryStuNameServe</url-pattern>
  </servlet-mapping>
</web-app>